.container{
    background-color: #E8BB06;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    max-width: 280px;
    width: 25vw;
    max-height:400px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 10px 10px   #33ab39 ;
}
.card-img{
    width: 250px;
    height:150px; 
    object-fit: cover;
}
button{
    margin-bottom: 1rem;
}
h1{
}
