.form{
    background-color: #e53909;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.formbody{
    background-color: #E8BB06;
    width:20rem;
    height:auto;
    padding: 10px 0 10px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50vh;
    border: -5px solid black;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input, button{
    display:block;
    width: fit-content;
    font-size: large;
}
.button{
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height: 40px;
    padding: 5px;
    background-color: #33AB39;
    border: none;
    box-shadow: 10px 10px #E53909;
}
input{
    margin: 1rem 0 ;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: none;
}
input:focus{
    outline: none;
}
.profilePic input{
    display: none;
}
.dpcontainer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 0 auto
}
.dpImg{
    border-radius: 50%;
}