.writeForm{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 85vh;
    max-width: 1068px;
    margin: 0 auto;
    overflow-y: scroll;
}
.main{
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1068px;
}
.maintitle{
    max-width: 1068px;
    margin: 0 auto;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}
.quill{
    width: 50%;
    max-width: 1068px;
    margin: 0 auto; 
}
.maintitle:focus{
    outline-style: none;
}
.maintext:focus{
    outline-style: none;
}
.maintitle{
    font-size: 3rem;
}
.maintext{
    font-size: 1.5rem;
}
.mainimage{
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.mainimage input{
    display: none;
}
.mainimagecontainer{
    width: auto;
}
.mainimage img{
    width: 600px;
    height: 314px;
    object-fit: cover;
}
.upbtn{
    padding: 8px 14px;
    font-weight: 500;
    background-color: #33AB39;
    color: black;
}
.categorybtn{
    display: inline-block;
    margin-right: 0.5rem;
}
.selectedcategories{
    margin-bottom: 10px;
}
.categorieslist{
    margin-bottom: 10px;
}