.footer{
    width: 100%;
    max-width: 1068px;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 30px 0;
    background-color: aquamarine;
}
.footer p{
    font-size: 0.938rem;
} 
.footer a{
    font-size: 1.4rem;
}
@media (max-width:480px){
    .footer{
        height: 10vh;
        position: fixed;
        bottom: 0px;
    }
}